################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/TransFoam/.vs
/TransFoam/out/build/x64-Debug
